{% extends 'base.html.twig' %}

{% block title %} Messages {% endblock %}

{% block body %}
    <div>
        {% if messages|length > 0 %}
            {% for key, message in messages|slice(0, limit) %}
                <a href="{{ path('app_show_one', { id: key }) }}">{{ message.message }}</a>
                <div style="color: #2f4e00">
                    {{ include('hello/_message.html.twig') }}
                </div>
                 <hr />
            {% endfor %}
        {% else %}
            There is nothing here yet!
        {% endif %}
    </div>
{% endblock %}
